@import "tailwindcss";

input[type="search"] {
  border-radius: 15px;
  background-color: bg-blue-200;
}

div#chart {
  width: 100vw;
  height: 400px;
}

div#barometer {
  margin-left: 20vw;
  width: 25vw;
  height: 300px;
}

section > article {
  width: 45vw;
  padding: 10px;
  margin: 10px auto;
}

div#search-results {
  position: absolute;
  width: 10vw;
  left: 45vw;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 5px;
  z-index: 10;
}

div.search-result-item {
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
}
