@import "tailwindcss";

input[type=search] {
  border-radius: 15px;
  background-color: bg-blue-200;
}

div#chart {
  width: 100vw;
  height:400px;
}

div#barometer {
  margin-left: 40vw;
  width: 25vw;
  height: 300px;
}